@page
@model RetoTernium.Pages.HomeModel
@{
    <h1>@ViewData["Home"]</h1>
}


<div>
    <p>@Model.HomeBody</p>
    <br />
    <br />
    <p>Username: @Model.UsernameHome</p>
    <br />
    <br />
    <p>TEST:    @Model.GetTest  nosirnosri</p>
</div>


